<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
</head>
<body>
    <h1>✏️ Update Student Info</h1>
    <form method="POST">
        Name: <input type="text" name="name" value="{{ student.name }}"><br><br>
        Age: <input type="text" name="age" value="{{ student.age }}"><br><br>
        Department: <input type="text" name="department" value="{{ student.department }}"><br><br>
        Room No: <input type="text" name="room_no" value="{{ student.room_no }}"><br><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
